@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner {

    background: rgba(255, 144, 14, 0.1);
    background-size: cover;
    width: 100vw;

}

/* Nav section styles */

nav {
    display: flex;
    justify-content: space-between;

}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 50px;
    padding-left: 5%;
    width: 50%;


}

nav ul {
    display: flex;
    justify-content: end;
    width: 50%;
    list-style: none;
    padding: 5px;

}

nav ul li {
    font-weight: 500;
    font-size: 18px;
    margin-top: 45px;
    font-weight: 500;
    color: #424242;
    margin-right: 10%;

}

nav li a {
    text-decoration: none;
}

/* Banner part styles */

.banner-container {
    text-align: center;
    margin-top: 30px;
}

.banner-title {
    font-weight: 700;
    font-size: 60px;
    color: #131313;
    margin-bottom: 20px;

}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    margin: auto;
    width: 50%;
    margin-bottom: 30px;
}

.btn-primary {
    border: none;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    width: 180px;
    height: 60px;
    border-radius: 8px;
    background-color: #ff0000;

}

.banner-img {
    margin-top: 50px;
    width: 80%;
    border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;

}

/* Quick list Feature Section Styles */

.feature-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-top: 70px;
}


.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: 50%;
}

.feature-image img {
    width: 300px;
    height: 300px;

}

.description-container {
    margin-left: 70px;
    margin-right: 150px;
    width: 50%;
}

.feature-title {
    font-size: 45px;
    font-weight: 500;
}

.feature-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

.feature-color {
    color: #FF900E;
}

/* Love and Enjoy feature styles */
.feature-main-container {
    display: flex;
    gap: 10%;
    margin-left: 10%;
}

.feature-main {
    width: 50%;
}



.feature-main-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 80px;
    margin-bottom: 30px;
    border-left: 5px solid #FF900E;
}

.feature-main-description {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 40px;

}

.description-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 20px;

}

.description {
    font-weight: 400;
    font-size: 14px;
    color: #727272;
    margin-bottom: 20px;

}

.img-container {
    width: 50%;
    margin-right: 10%;
}

.image {
    width: 700px;
    margin-top: 100px;

}

.shadow {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 23px;
    margin-bottom: 10px;
}

.btn {
    width: 300px;
    height: 200px;
    font-size: 50px;
    font-weight: 700;
    padding: 20px;
    margin: 0 auto;
}

.button {
    display: flex;
    margin-top: -130px;
}

.size {
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 60px;
}

/* Some fact section Styles */

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #131313;
    margin-top: 100px;
    text-align: left;


}

.section-description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 100px;
    margin-top: 20px;
    padding-right: 10%;


}



.card-container {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.fact-details {
    margin-left: 12%;
}

.card {
    text-align: center;
    border: 1px solid #FF900E;
    width: 130px;
    height: 130px;
    padding: 40px;
    border-radius: 8px;
    transition: width 1s, height 1s, transform 1s;
}

/* style for transform property rotate */

.card:hover {
    transform: rotate(90deg);
}

.card-img {
    height: 40px;
    width: 40px;
}

.card-title {
    font-size: 30px;
    font-weight: 600;
    color: #424242;

}

.catagory {
    font-size: 16px;
    font-weight: 600;
    color: #727272;

}


/* Our Sponsor section styles */

.sponsor-section {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 40px;
}

.sponsor-title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #131313;
}

.sponsor-description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
}

.sponsor-img-container {
    display: flex;
    gap: 7%;
    justify-content: center;
}

.sponsor-img {
    width: 120px;
    height: 40px;
}

/* Footer Section Styles */
.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF4E7;
    border-radius: 8px;
    height: 80px;
    margin: 150px;

}

.footer-description {
    text-align: center;
}

/* Extra section that is added by me */

.our-philosophy-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-right: 250px;
}

.section-philosophy-title {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;

}

.our-philosophy {
    padding: 30px;

}

.philosophy-title {
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 20px;

}

.philosophy-description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;

}


/* Breakpoints for Responsive */

/*  small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {

    nav {
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    nav ul {
        flex-direction: column;
        justify-content: flex-start;

    }

    nav ul li {
        margin-top: 10px;
    }

    .nav-title {
        font-size: 30px;

    }

    .banner-title {
        font-size: 30px;
    }

    .banner-description {
        font-size: 10px;
    }

    .btn-primary {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    .feature-title {
        margin-top: 40px;
        font-size: 30px;
    }

    .feature-description {
        font-size: 12px;
    }

    .feature-image {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .feature-section-container {
        flex-direction: column;
        margin-left: 3%;


    }

    .feature-main-container {
        flex-direction: column;
        justify-content: center;


    }

    .feature-main {
        width: 85%;
    }

    .feature-main-title {
        font-size: 30px;
    }

    .image{
        margin-top: 20px;
        width: 75vw;
        height: 40vh;
    }
    .button{
        margin-top: -70px;

    }
    .btn{
        width: 150px;
        height: 100px;
        font-size: 20px;
    }
    .size{
        font-size: 10px;
    }
    .section-title{
        text-align: left;
    }
    .section-description{
        font-size: 12px;
        text-align: left;
        padding: 10px;
    }

    .card-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card{
       margin-bottom: 5%;
    }
    .sponsor-description{
        font-size: 14px;
        text-align: left;
        padding: 5%;
    }

    .sponsor-img-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sponsor-img{
        padding-bottom: 25%;
    }

    .our-philosophy-container{
        grid-template-columns: repeat(1,1fr);
        margin: 0%;
        padding: 10%;
        padding-top: 0;

    }
    .our-philosophy{
        width: 100%;
        padding:0;
        margin-top: 15%;
    }

    .footer-container{
        display: flex;
        height: 15px;
        width: 350px;
        padding-left: 50px;
        margin: 0;
        padding: 0;
    }
    .footer-description{
        font-size: 10px;
        text-align: center;
        padding-left: 40px;
    }

    .section-philosophy-title{
        margin-bottom:0;
        padding: 0;
    }


}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width:1200px) {
    .banner {
        width: 100vw;
    }

    .banner-title {
        font-size: 40px;

    }

    .banner-description {
        font-size: 14px;
        width: 90%;
        height: 90%;
    }

    .card {
        height: 100px;
        width: 100px;
        padding: 10px;
    }

    .card-title {
        font-size: 25px;
    }

    .sponsor-section-container {
        height: 80%;
        width: 80%;
        margin: 0 auto;
    }

    .btn-primary {
        height: 50px;
        width: 120px;
        font-size: 14px;
    }

    .image {
        width: 500px;
    }

    .button {
        margin-top: -180px;
    }

    .btn {
        width: 20%;
        height: 150px;
        font-size: 40px;
    }

    .size {
        font-size: 14px;
    }

    .feature-main-title {
        font-size: 30px;
    }

    .feature-main-description,
    .catagory {
        font-size: 14px;
    }

    .shadow {
        padding: 10px;
    }

    .description {
        font-size: 12px;
    }

    .feature-title {
        font-size: 30px;

    }

    .feature-description {
        font-size: 12px;
    }

    .feature-image img {
        width: 200px;
        height: 200px;
        gap: 2%;
    }

    .sponsor-img img {
        width: 80px;
    }

}